<div class="dropdown notification-dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <%= current_user.notifications.count %>
    <span><i class="glyphicon glyphicon-flag"></i></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li class="dropdown-header text-center">Notifications</li>
    <li>
      <%= render current_user.notifications.where(read: false) %>
    </li>
  </ul>
</div>