<div class="row posts-wrapper">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        <div class="name">
          <b><%= post.user.username %></b>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag post.image.url, height: '350', width: '350', class: 'image-responsive'), post_path(post) %>
        <p class="caption">
          <%= post.caption %>
        </p>
      </div>
    </div>
  <% end %>
</div>

