<%= render 'post', @post: post %>
  <% if @post.user.id == current_user.id %>
    <div class="text-center edit-links">
      <div class="btn btn-default btn-sm">
        <%= link_to "Edit", edit_post_path(@post.id), class: "edit" %>
      </div>
      |
      <div class="btn btn-default btn-sm">
        <%= link_to "Cancel", posts_path, class: "cancel" %> 
      </div>
    </div>
  <% else %>
    <div class="text-center edit-links">
      <div class="btn btn-default btn-sm">
        <%= link_to "Cancel", posts_path, class: "cancel" %> 
      </div>
    </div>
  <% end %>
</div>