<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="post">
        <div class="post-head">
          <div class="name">
            Ben Walker
          </div>
        </div>
        <div class="image-individual center-block">
          <%= image_tag(@post.image.url(:medium)) %>
          <p class="caption">
            <%= @post.caption %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>